@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=SUSE:wght@100..800&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "SUSE", serif;
  background-color: #0e1217;
  color: white;
}
